/* Color declerations */
/* These colors comes from material-kit */
	:root {
	  --blue-color: #00bcd4;
	  --green-color: #4caf50;
	  --orange-color: #ff9800;
	  --red-color: #f44336;
	  --purple-color: #9c27b0;
	}

/* Row class declaration for Flash Messages */
	.row-flash {
	  margin-right: -15px;
	  margin-left: 0px;
	}
/* Row class declaration for Flash Messages */
	.row-flash-dashboard {
	  margin-right: -15px;
	  margin-left: -15px;
	}

/* Notification bubble color*/
	.navbar .notification {
  background: #f44336;
}

/* Site Wide Link Color */
	/* It is recommended to add 'link-color' attribute to <body> with one of the colors below*/
	/* Default. Not recommended to activate.
	a, a:hover, a:focus {
	  color: #888888;
	}
	*/
	[link-color="blue"] a,
	[link-color="blue"] a:hover,
	[link-color="blue"] a:focus
	{
	  color: var(--blue-color);
	}
	[link-color="green"] a,
	[link-color="green"] a:hover,
	[link-color="green"] a:focus
	{
	  color: var(--green-color);
	}
	[link-color="orange"] a,
	[link-color="orange"] a:hover,
	[link-color="orange"] a:focus
	{
	  color: var(--orange-color);
	}
	[link-color="red"] a,
	[link-color="red"] a:hover,
	[link-color="red"] a:focus
	{
	  color: var(--red-color);
	}
	[link-color="purple"] a,
	[link-color="purple"] a:hover,
	[link-color="purple"] a:focus
	{
	  color: var(--purple-color);
	}

/* Card Footer Link Colors */
/* Original color comes with material-kit
#00bcd4
*/
	.card-stats .card-footer a{
		color: #888888;
	}
	.card-stats .card-footer a:hover, a:focus{
		-webkit-filter: brightness(150%);
	}
	.card-stats .card-footer[data-color="blue"] a{
		color: var(--blue-color);
	}
	.card-stats .card-footer[data-color="green"] a{
		color: var(--green-color);
	}
	.card-stats .card-footer[data-color="orange"] a{
		color: var(--orange-color);
	}
	.card-stats .card-footer[data-color="red"] a{
		color: var(--red-color);
	}
	.card-stats .card-footer[data-color="purple"] a{
		color: var(--purple-color);
	}
	.card-stats .card-footer[data-color="blue"] a:hover, 
	.card-stats .card-footer[data-color="blue"] a:focus
	.card-stats .card-footer[data-color="green"] a:hover, 
	.card-stats .card-footer[data-color="green"] a:focus
	.card-stats .card-footer[data-color="orange"] a:hover, 
	.card-stats .card-footer[data-color="orange"] a:focus
	.card-stats .card-footer[data-color="red"] a:hover, 
	.card-stats .card-footer[data-color="red"] a:focus
	.card-stats .card-footer[data-color="purple"] a:hover, 
	.card-stats .card-footer[data-color="purple"] a:focus
	{
		-webkit-filter: brightness(60%);
		filter: brightness(60%);
	}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: var(--blue-color);
}
.form-group.is-focused .form-control .material-input:after {
  background-color: var(--blue-color);
}
.form-group.is-focused .form-control {
  outline: none;
  background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#00bcd4, #00bcd4);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}
/* Tooltip size change */
	.tooltip-inner {
	  padding: 10px 5px;
	  min-width: 300px;
	}
/* Wizard windows shortening */
	.wizard-card .tab-content {
	  min-height: 250px;
	  padding: 20px 15px;
	}

/* Choice button(checkbox or radio) colors */
	.wizard-card .choice:hover .icon[data-color="blue"]{
	  border-color: var(--blue-color);
	  color: var(--blue-color);
	}
	.wizard-card .choice:hover .icon[data-color="green"]{
	  border-color: var(--green-color);
	  color: var(--green-color);
	}
	.wizard-card .choice:hover .icon[data-color="orange"]{
	  border-color: var(--orange-color);
	  color: var(--orange-color);
	}
	.wizard-card .choice:hover .icon[data-color="red"]{
	  border-color: var(--red-color);
	  color: var(--red-color);
	}
	.wizard-card .choice:hover .icon[data-color="purple"]{
	  border-color: var(--purple-color);
	  color: var(--purple-color);
	}

	.wizard-card .choice.active .icon,
	.wizard-card .choice.active .icon[data-color="blue"], 
	.wizard-card .choice.active .icon[data-color="green"], 
	.wizard-card .choice.active .icon[data-color="orange"], 
	.wizard-card .choice.active .icon[data-color="red"], 
	.wizard-card .choice.active .icon[data-color="purple"]{
		border-color: var(--green-color);
		color: var(--green-color);
	}

	.wizard-card .choice.active .icon[disabled],
	.wizard-card .choice.active .icon[data-color="blue"][disabled], 
	.wizard-card .choice.active .icon[data-color="green"][disabled], 
	.wizard-card .choice.active .icon[data-color="orange"][disabled], 
	.wizard-card .choice.active .icon[data-color="red"][disabled], 
	.wizard-card .choice.active .icon[data-color="purple"][disabled]{
		border-color: #999999;
		color: #999999;
	}
	.wizard-card .choice:hover .icon[disabled],
	.wizard-card .choice:hover .icon[data-color="blue"][disabled], 
	.wizard-card .choice:hover .icon[data-color="green"][disabled], 
	.wizard-card .choice:hover .icon[data-color="orange"][disabled], 
	.wizard-card .choice:hover .icon[data-color="red"][disabled], 
	.wizard-card .choice:hover .icon[data-color="purple"][disabled]{
		border-color: var(--red-color);
		color: var(--red-color);
	}

/* Dashboard dropdown menu link color correction */
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: inherit;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: var(--blue-color);
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a, 
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, 
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: inherit;
    background-color: var(--blue-color);
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a, 
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, 
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: inherit;
    background-color: var(--blue-color);
  }

 /* Back button definition */
  .btn-back{
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 556;
    padding: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 30px
  }
  .btn-back  a{
    color: #888888;
  }

  