<!DOCTYPE html>
<html>
<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  />
  
  <!--  Fresh Bootstrap table CSS  -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/fresh-bootstrap-table.css') }}" />

  <!--  Material Dashboard CSS    -->
  <!-- Break downs fresh bootstrap table -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/material-dashboard.css') }}" />

  <!--  Custom fixes -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/custom-fixes.css') }}" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" >
  <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons'>
  <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'>
  <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--   Core JS Files   -->
  <script type="text/javascript" src="../static/js/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/material.min.js"></script>

  <!--  Charts Plugin -->
  <script src="../static/js/chartist.min.js"></script>

  <!--  Notifications Plugin    -->
  <script src="../static/js/bootstrap-notify.js"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <!-- Material Dashboard javascript methods -->
  <script src="../static/js/material-dashboard.js"></script>

  <title>Fitness Yeah!</title>

<!-- Color declerations -->
  {% set theme_color = "blue" %}
  {% set human_color = "orange" %}
  {% set equipment_color = "purple" %}
  {% set room_color = "green" %}

</head>

<body link-color={{theme_color}}>
  <div class="wrapper">
    

    <div class="sidebar" data-color={{theme_color}} data-image="../static/img/sidebar-gradient-1">

      <div class="logo">
        <a href="/dashboard" class="simple-text">
          Fitness Tracking
        </a>
      </div>

      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
              <a href="/dashboard">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="material-icons">person</i>
                  <p>User Profile</p>
              </a>
          </li>
          <li>
              <a href="#lists">
                  <i class="material-icons">view_list</i>
                  <p>Table List</p>
              </a>
          </li>
          <hr>
          <li>
              <a href="/addtrainer">
                  <i class="material-icons">group_add</i>
                  <p>Add Trainer</p>
              </a>
          </li>
          <li>
              <a href="/addequipment">
                  <i class="material-icons">fitness_center</i>
                  <p>Add Equipment</p>
              </a>
          </li>
          <li>
              <a href="/addroom">
                  <i class="material-icons">add_location</i>
                  <p>Add Room</p>
              </a>
          </li>
          <hr>
          <li>
              <a href="/logout">
                  <i class="material-icons">power_settings_new</i>
                  <p>Log Out</p>
              </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">

      <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{admin[1]}} {{admin[2]}}</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="material-icons">notifications</i>
                  <span class="notification">4</span>
                  <p class="hidden-lg hidden-md">Notifications</p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Roses are red</a></li>
                  <li><a href="#">Violets are blue</a></li>
                  <li><a href="#">Unchecked notifications are</a></li>
                  <li><a href="#">Going to hunt you</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <i class="material-icons">person</i>
                   <p class="hidden-lg hidden-md">{{admin[1]}} {{admin[2]}}</p>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
              <div class="form-group  is-empty">
                <input type="text" class="form-control" placeholder="Search">
                <span class="material-input"></span>
              </div>
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i><div class="ripple-container"></div>
              </button>
            </form>
          </div>
        </div>
      </nav>

      <div class="content">
        <!-- Heading & flash box container -->
        <div class="container-fluid">
          <!-- Heading -->
          <div class="row">
            <div id="heading" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h1 style="margin-top: 0;
                         margin-bottom: 5px; 
                         position: relative;
                         top: -22px;">
                <small>Administrator Dashboard</small>
              </h1>
            </div>
          </div>

          <!-- Flash message reader -->
          <div class="row-flash row-flash-dashboard">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 main">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {%- for category, msg in messages %}
                  <!-- Warning message -->
                  {% if category == "warning" %}
                    <div class="alert alert-warning">
                      <div class="container-fluid">
                        <div class="alert-icon"><i class="material-icons">warning</i></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Warning: </b>{{ msg }}
                      </div>
                    </div>
                  
                  <!-- Error message -->
                  {% elif category == "error" %}
                    <div class="alert alert-danger">
                      <div class="container-fluid">
                        <div class="alert-icon"><i class="material-icons">error_outline</i></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Error: </b>{{ msg }}
                      </div>
                    </div>
                  
                  <!-- Success message -->
                  {% elif category == "success" %}
                    <div class="alert alert-success">
                      <div class="container-fluid">
                        <div class="alert-icon"><i class="material-icons">check</i></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Success: </b>{{ msg }}
                      </div>
                    </div>
                  
                  <!-- Info message -->
                  {% elif category == "info" %}
                    <div class="alert alert-info">
                      <div class="container-fluid">
                        <div class="alert-icon"><i class="material-icons">info_outline</i></div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true"><i class="material-icons">clear</i></span>
                        </button>
                        <b>Info: </b>{{ msg }}
                      </div>
                    </div> 

                  <!-- Any other messages -->
                  {% else%}
                    <div class="alert">{{ msg }}</div>
                  {% endif %}
                {% endfor -%}
              {% endif %}
            {% endwith %}

            </div>
          </div>
        </div>

        <!-- Main content container -->
        <div class="container-fluid">
          <!-- Info card row -->
          <div class="row">

            <!-- Trainer info card -->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color={{human_color}}>
                  <i class="material-icons">supervisor_account</i>
                </div>
                <div class="card-content">
                  <p class="category">Trainers</p>
                  <h3 class="title">{{ trainers|length }}<small></small></h3>
                </div>
                <div class="card-footer" data-color={{theme_color}}>
                  <div class="stats">
                    <i class="material-icons">warning</i> <a href="#">Get More Space...</a>
                    <br>
                    <i class="material-icons">group_add</i> <a href="/addtrainer">Add Trainer</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Trainee info card-->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color={{human_color}}>
                  <i class="material-icons">person</i>
                </div>
                <div class="card-content">
                  <p class="category">Trainees</p>
                  <h3 class="title">{{ trainees|count }}<small></small></h3>
                </div>
                <div class="card-footer" data-color={{theme_color}}>
                  <div class="stats">
                    {% set ratio = trainees|count / trainers|count %}
                    
                    <i class="material-icons">date_range</i> {{ '%0.2f'| format(ratio|float) }} per Trainer
                    <br>
                    <i class="material-icons">person_add</i> <a href="/addtrainee">Add Trainee</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Equipment info card-->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color={{equipment_color}}>
                  <i class="material-icons">fitness_center</i>
                </div>
                <div class="card-content">
                  <p class="category">Equipments</p>
                  <h3 class="title">{{ equipments|count }}<small></small></h3>
                </div>
                <div class="card-footer" data-color={{theme_color}}>
                  <div class="stats">
                    <i class="material-icons">list</i> <a href="#">Click for detailed list</a>
                    <br>
                    <i class="material-icons">fitness_center</i> <a href="/addequipment">Add Equipment</a>
                  </div>
                </div>
              </div>
            </div>

            <!--Available room info card-->
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color={{room_color}}>
                  <i class="material-icons">event_available</i>
                </div>
                <div class="card-content">
                  <p class="category">Rooms</p>
                  <h3 class="title">#/{{ rooms|count }}<small> used</small></h3>
                </div>
                <div class="card-footer" data-color={{theme_color}}>
                  <div class="stats">
                    <i class="material-icons">date_range</i> <a href="#">Click for availability</a>
                    <br>
                    <i class="material-icons">add_location</i> <a href="/addroom">Add Room</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- List row -->
          <div id="lists" class="row">
            <div class="col-xs-12 col-sm-12 
                          col-md-12 col-lg-12 
                          main">
              <!-- List container header -->
              <div class="container-fluid">
                <h2 style="margin-top: 0px;margin-bottom:10px;
                        ">
                        <small>Lists</small></h2>
              </div>
              
              <!-- Lists (tables)-->
              <div class="card card-nav-tabs">
                <div class="card-header" data-background-color={{theme_color}}>
                  <!-- Navigation tab definition -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                          <li class="active">
                            <a href="#trainerList" data-toggle="tab">
                              <i class="material-icons">supervisor_account</i>
                              Trainers
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                          <li class="">
                            <a href="#equipmentList" data-toggle="tab">
                              <i class="material-icons">fitness_center</i>
                              Equipments
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                          <li class="">
                            <a href="#roomList" data-toggle="tab">
                              <i class="material-icons">room</i>
                              Rooms
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                        </ul>
                    </div>
                  </div> <!-- End of natigation tab definition -->
                </div>

                <!-- Tab contents -->
                <div class="card-content">
                  <div class="tab-content">
                    <!-- Trainer list table -->
                    <div class="tab-pane active" id="trainerList">
                      <div class="fresh-table">
                        <div class="toolbar"><!-- Empty toolbar at the top of table, can be filled --></div>
                        <!-- Trainer table content -->
                        <table id="fresh-table-trainer" class="table dummmy_fresh-table-script">
                          <thead>
                            <tr>
                              <th data-sortable="true">#</th>
                              <th data-sortable="true">Name</th>
                              <th data-sortable="true">Surname</th>
                              <th data-sortable="true">E-Mail</th>
                              <th data-sortable="true">Telephone Number</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                        
                            {% for trainer in trainers %}
                            <tr>
                              <td>{{loop.index}}</td>
                              <td>{{trainer[0]}}</td>
                              <td>{{trainer[1]}}</td>
                              <td>{{trainer[2]}}</td>
                              <td>{{trainer[3]}}</td>
                              <!-- Action buttons at each row -->
                              <td>  
                                <a rel="tooltip"  
                                   class="table-action like" 
                                   href="javascript:trainerwindow({{trainer[4]}})" 
                                   title="Like">
                                  <i class="material-icons">remove_red_eye</i>
                                </a>
                                <a rel="tooltip"  
                                   class="table-action edit" 
                                   href="javascript:void(0)" 
                                   title="Edit">
                                  <i class="material-icons">mode_edit</i>
                                </a>
                                <a rel="tooltip" 
                                   class="table-action remove" 
                                   href="javascript:void(0)" 
                                   title="Remove">
                                  <i class="material-icons">remove_circle</i>
                                </a>
                              </td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table> <!-- End of trainer table content -->
                      </div>
                    </div><!-- End of trainer table container -->
                    
                    <!-- Equipment list table -->
                    <div class="tab-pane" id="equipmentList">
                      <div class="fresh-table">
                        <div class="toolbar"><!-- Empty toolbar at the top of table, can be filled --></div>
                        <table id="fresh-table-equipment" class="table dummmy_fresh-table-script">
                          <thead>
                            <tr>
                              <th data-sortable="true">#</th>
                              <th data-sortable="true">Name</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                        
                            {% for equipment in equipments %}
                            <tr>
                              <td>{{loop.index}}</td>
                              <td>{{equipment[0]}}</td>
                              <td></td>
                            </tr>
                            {%endfor%}
                            
                          </tbody>
                        </table>
                      </div>
                    </div><!-- End of equipment table container -->

                    <!-- Room list table -->
                    <div class="tab-pane" id="roomList">
                      <div class="fresh-table">
                        <div class="toolbar"><!-- Empty toolbar at the top of table, can be filled --></div>
                        <table id="fresh-table-room" class="table dummmy_fresh-table-script">
                          <thead>
                            <tr>
                              <th data-sortable="true">#</th>
                              <th data-sortable="true">Name</th>
                              <th data-sortable="true">Room Number</th>
                              <th data-sortable="true">Capacity</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>

                            {% for room in rooms %}
                            <tr>
                              <td>{{loop.index}}</td>
                              <td>{{room[0]}}</td>
                              <td>{{room[1]}}</td>
                              <td>{{room[2]}}</td>
                              <td></td>
                            </tr>
                            {%endfor%}

                          </tbody>
                        </table>
                      </div>
                    </div><!-- End of room table container -->
                  </div>
                </div><!-- End of tab contents -->

              </div><!-- End of lists (tables) -->

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  
</body>

<!--Table scripts-->

<!--
This script brokes dropdown menus
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
-->
  <script type="text/javascript" src="../static/js/bootstrap-table.js"></script>

  <script type="text/javascript">
    var $table = $('.dummmy_fresh-table-script'),
        $alertBtn = $('#alertBtn'),
        full_screen = false;
            
    $().ready(function(){
      $table.bootstrapTable({
        toolbar: ".toolbar",
  
        showRefresh: true,
        search: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        pageSize: 10,
        pageList: [10,25,50,100],
                
        formatShowingRows: function(pageFrom, pageTo, totalRows){
          //do nothing here, we don't want to show the text "showing x of y from..." 
        },

        formatRecordsPerPage: function(pageNumber){
          return pageNumber + " rows visible";
        },

        icons: {
            refresh: 'fa fa-refresh',
            toggle: 'fa fa-th-list',
            columns: 'fa fa-columns',
            detailOpen: 'fa fa-plus-circle',
            detailClose: 'fa fa-minus-circle'
        }
      });

      $(window).resize(function () {
        $table.bootstrapTable('resetView');
      });
    }); /* End of $().ready(function) */

    function trainerwindow(trainerId)
    {
      console.log(trainerId);
      $.get("/trainerwindow/"+trainerId, 
      function(html){
        console.log(html);          
        $(html).modal();
      });
    }
  </script> 
</html>
